$error: #F34213;

.error--highlight 
{
    border: 1px solid $error; /* some kind of blue border */

    /* round the corners */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    /* make it glow! */
    -webkit-box-shadow: 0px 0px 4px $error;
    -moz-box-shadow: 0px 0px 4px $error;
    box-shadow: 0px 0px 4px $error; /* some variation of blue for the shadow */
}